@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --black: #050505;

  --gray-900: #141414;
  --gray-800: #222222;
  --gray-700: #404040;
  --gray-600: #5f5f5f;
  --gray-500: #737373;
  --gray-400: #959595;
  --gray-300: #afafaf;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --primary-900: #4a3ab8;
  --primary-800: #5a41c2;
  --primary-700: #654acc;
  --primary-600: #6e5ad6;
  --primary-500: #8e79db;
  --primary-400: #a18ee0;
  --primary-300: #b3a2e5;
  --primary-200: #c5b6ea;

  --white: #ffffff;

  --zindex-selectbox-dropdown: 999;
  --zindex-gnb: 1000;

  --size-gnb: 81px;

  --timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

  --mobile: 599px;
  --tablet: 1023px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif !important;
  background-color: var(--black);
  color: var(--white);
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.section-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--gray-500);

  margin-left: 4px;
  margin-bottom: 8px;
}
